*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}
h1{
    background-color: red;
}
#main{
    height: 100%;
    width: 100%;
}
.card{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);    
    height: 300px;
    width: 230px;
    border: 1PX solid salmon;
    border-radius: 20px;
    overflow: hidden;
}
#card1{
    z-index: 6;
   background-color: black;
    
}
#card2{
    z-index: 5;
    background-color: rgb(10, 241, 10);
    rotate: -7deg;
}
#card3{
    z-index: 4;
    background-color: rgb(240, 9, 151);
    rotate: -14deg;
}
#card4{
    z-index: 3;
    background-color: rgb(8, 238, 123);
    rotate: -21deg;
}
#card5{
    z-index: 2;
    background-color: rgb(248, 224, 4);
    rotate: -28deg;
}
#card6{
    z-index: 1;
    background-color: rgb(8, 202, 228);
    rotate: -35deg;
}
#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}
#card5:hover{
    z-index: 10;
}
#card6:hover{
    z-index: 10;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: contain;
}